.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
}


.container .answer {
    font-size: 5rem;
}

.birthday {
    margin-top: 3rem;
    color: deeppink
}